/* Variable*/

:root{
    --primary-color:rgb(238,75,43);
    --white-color:#fff;
    --black-color:#000;
    --text-color: #333;
    --border-color:#dbdbdb;
    --star-gold-color:#FFCE3E;
    
    --header-height:120px;
    --navbar-height:34px;
    --header-with-search-height:calc(var(--header-height)-var(--navbar-height))
}


/* init */
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive*/

.grid{
    width:1200px;
    max-width:100%;
    margin: 0px auto;
}

.gird__full-width{
    width:100%
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/*Test*/

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/*Animation*/
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
        
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* modal*/

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    position: relative;
    background-color: var(--white-color);
    margin: auto;
    border-radius: 4px;
    animation: growth linear 0.1s;
}

/* button style */

.btn{
    min-width: 142px;
    min-height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover{
    background-color:rgba(0,0,0,0.05);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    
}

.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/*Selection*/

.select-input{
    height: 34px;
    padding: 0 12px;
    min-width: 200px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.select-input__label{
    font-size: 1.4rem;
    
}

.select-input__icon{
    font-size: 1.4rem;
    color: rgb(158, 154, 154);
    position: relative;
    top: 1px;
    
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 16px;
    display: none;
}

.select-input__link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
}

/*Pagination*/

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item{
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover{
    filter: brightness(90%);
}

.pagination-item__link{
    --height: 30px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 2px;
}

